
 body{
    background-color: lightgray;
    background-image: url(nt1.jpg);
    background-repeat: no-repeat;
    background-size: 1500px 900px;
 }    
 header{
    background-color: whitesmoke;
    color: black;
    padding: 30px;
 }       
#container{
    text-align: center;
}
p{
    font-family: sans-serif;
}
#image{
    
    border-radius: 50px 50px 50px 50px;
    padding: 30px;
    
}