*{
    margin:0;
    padding:0;
    }
    
    body {
        background-image: url('./imgform.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position:-4px 0px ;
    }
    h1{
    padding:40px;
    }
    #register{
        background-color: rgba(0,0,0,0.5);
        width: 30%;
        font-size: 20px;
        border-radius: 10px;
        border: 1px solid #080806fd;
        box-shadow: 2px 2px 15px hsla(177, 91%, 48%, 0.914);
        color: #fff;
    }